* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'coquette';
    src: url('../resources/Madina.ttf') format('truetype');
}
html,
body {
    height: 100%;
    background-color: #f4b8d2;
    font-family: 'coquette', sans-serif;
}
.contenedor {
    text-align: center;

}

.smilePinkClass img{
    position: absolute;
    max-width: 30%;
    bottom: 0;
    left: 0;
}
.audio {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}


/* Estilos para teléfono */
@media (max-width: 767px) {

    .contenedor {
        padding: 2%;
    }

    img{
        max-width: 105%;

    }
    .smilePinkClass img {
        max-width: 30%;
    }

}

@media (min-width: 768px) {

    .contenedor {
        padding: 15%;
    }

    p {
        font-size: xx-large;
    }




}
